POSTGRES_DB=runmile
POSTGRES_USER=runmile
POSTGRES_PASSWORD=runmile_dev_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api/v1
NEXT_PUBLIC_KAKAO_MAP_API_KEY=replace-with-kakao-map-javascript-key

